"*":
  "exception-reporting":
    userId: "51632a13-5c8e-a497-1c58-6b189c1cd97e"
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: false
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
    disabledPackages: [
      "whitespace"
    ]
  editor:
    invisibles: {}
    tabLength: 4
    showIndentGuide: true
    showInvisibles: true
    softTabs: true
  whitespace:
    ensureSingleTrailingNewline: false
  "tree-view":
    hideVcsIgnoredFiles: true
  minimap: {}
