"*":
  core:
    autoHideMenuBar: false
    disabledPackages: [
      "whitespace"
      "wrap-guide"
    ]
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softTabs: true
    tabLength: 4
  "exception-reporting":
    userId: "51632a13-5c8e-a497-1c58-6b189c1cd97e"
  minimap: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".text.xml":
  editor:
    preferredLineLength: 120
  "multi-wrap-guide":
    columns: [
      80
      120
    ]
    rows: []
