# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'.text.html':
  'Translation Method':
    'prefix': 'trans'
    'body': '<?php echo $this->__(\'${1:text}\') ?>'
  'Get URL':
    'prefix': 'geturl'
    'body': '<?php echo $this->getUrl(\'${1:ref}\') ?>'
  'Get Child HTML':
    'prefix': 'chtml'
    'body': '<?php echo $this->getChildHtml(\'${1:child}\') ?>'
'.text.xml':
  'Magento layout block':
    'prefix': 'block'
    'body': '<block type="${1:type}" name="${2:name}" as="${3:alias}" template="${4:template}">$5</block>'
  'Magento layout reference':
    'prefix': 'ref'
    'body': '<reference name="${1:name}">$2</reference>'
  'Magento layout remove':
    'prefix': 'remove'
    'body': '<remove name="${1:name}" />'

