'atom-workspace':
  'ctrl-tab': 'tab-switcher:next'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'tab-switcher:previous'
  'ctrl-shift-tab ^ctrl': 'unset!'

'ol.tab-switcher-tab-list':
  '^ctrl': 'tab-switcher:select'
  '^shift': 'tab-switcher:select'
  'ctrl-up': 'tab-switcher:previous'
  'ctrl-down': 'tab-switcher:next'
  'ctrl-escape': 'tab-switcher:cancel'
  'ctrl-n': 'tab-switcher:next'
  'ctrl-p': 'tab-switcher:previous'
  'ctrl-w': 'tab-switcher:close'
  'ctrl-s': 'tab-switcher:save'

